.contenedor{
	background-color: blue;

	/* este displey va ocultando los elementos */
	display: inline-flex;
	/* display: flex; */
	/* este aplasta los elementos cuando achico la pag */
	/* display del contenedor */
}

.item{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
}