h1{
   font-size: 33px;
   color: aliceblue;
   background-color: black;
   text-align: center;

}

.destacados{
    color:green;
    font-weight: bold;
    font-style: italic;
}

#caja1{
    width: 300px;
    height: 200px;
    background-color: azure;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*comentario en css*/

#caja2{
    width: 300px;
    height: 200px;
    background-color: grey;
    padding: 20px;
    box-sizing: border-box;
    
}
#caja3{
    width: 300px;
    height: 200px;
    background-color:wheat;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;

}
.fondo{
    background-color: #9FCD88;
}

.fondo2{
    background-color: #9FCD88;
}